{% extends "base.html" %}

{% block title %}
   <title>Driver info</title>
{% endblock %}

{% block content %}
    <h2>Username: <strong>{{ driver.username }}</strong></h2>
    <a href="{% url 'taxi:driver-update' pk=driver.id %}" class="btn btn-primary"> Update license</a>
    <a href="{% url 'taxi:driver-delete' pk=driver.id %}" class="btn btn-primary"> Delete driver</a>
    <hr>
    <p><strong>First name:</strong> {{ driver.first_name }}</p>
    <p><strong>Last name:</strong> {{ driver.last_name }}</p>
    <p><strong>License number:</strong> {{ driver.license_number }}</p>
    <p><strong>Is staff:</strong> {{ driver.is_staff }}</p>

    <div class="ml-3">
    <h3>Cars:</h3>
    <hr>
    {% for car in driver.cars.all %}
        <p>- "{{ car.model }}" {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>
    {% empty %}
      <p>No cars!</p>
    {% endfor %}
    </div>
{% endblock %}
